<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<dict>
		<key>Reservation</key>
		<dict>
			<key>roomCategories</key>
			<array>
				<dict>
					<key>categoryPrice</key>
					<string>400</string>
					<key>categoryName</key>
					<string>Deluxe</string>
				</dict>
				<dict>
					<key>categoryPrice</key>
					<string>300</string>
					<key>categoryName</key>
					<string>Superior</string>
				</dict>
				<dict>
					<key>categoryPrice</key>
					<string>200</string>
					<key>categoryName</key>
					<string>Moderate</string>
				</dict>
				<dict>
					<key>categoryPrice</key>
					<string>100</string>
					<key>categoryName</key>
					<string>Standard</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
